[submodule "external/doctest"]
	path = external/doctest
	url = https://github.com/doctest/doctest.git
[submodule "external/nanobench"]
	path = external/nanobench
	url = https://github.com/martinus/nanobench.git
[submodule "external/fakeit"]
	path = external/fakeit
	url = https://github.com/eranpeer/FakeIt.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/nanoBench"]
	path = external/nanoBench
	url = https://github.com/andreas-abel/nanoBench.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
